<!DOCTYPE html>
<html>
<head>
	<title>
		{% block title %}{%endblock %}
	</title>
</head>
<body>
	<h1 style="background-color:darkblue; color: white; text-align: center">
		Proyecto caguai desune anta baca con burritas de colores
	</h1>

	<h3 style="text-align: center">
		Es para ver que tan pailas estoy con esto y que me contraten de una vez >:C
	</h3>

	{% block content %}{%endblock %}

	<p style="background-color:darkblue; color: white; text-align: right">
		G R A C I A S, V U E L V A N  P R O N T O S
	</p>

</body>
</html>