<!DOCTYPE html>
<html>
<head>
	<title>mi plantilla</title>
</head>
<body>

	{% include "barra.html" %}

	<h1 style="color: green">
		wenas wenas wenas, csm, aquí la primera plantilla XDD
	</h1>

	{% if nombre_persona == 'Nicolás' %}

		<p>Esto lo hizo</p>

			{% else %}

			<p>otro nombre por otro</p>

	{% endif %}

	<h2>
		El nombre es: {{nombre_persona|upper}} {{apellido_persona|upper}} <!--upper para poner en mayuscula-->
	</h2>

	<p>
		Estamos en el día de: {{actual}}
	</p>

	<p>
		<strong>TEMAS:</strong>
	</p>
	<p>
		<ul>
			{% if temas %}
				{% for elTema in temas %}

					<li>{{elTema}}</li>

				{% endfor %}
			{% else %}
			<p>No hay nada que mostrar</p>
			{% endif %}
		</ul>		
	</p>

</body>
</html>