{% extends "base.html" %}


{% block title %} Plantilla 1 {%endblock %}

{% block content %}

<p>b u e n i s {{damefecha}}</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/o2t4CahftYo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

{% endblock %}